<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063068352877-45pc21qm639r3nreoejsrokvsls52pdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063068352877-45pc21qm639r3nreoejsrokvsls52pdn</string>
	<key>API_KEY</key>
	<string>AIzaSyCEfsKkrTI1N8jy3VcnNttdVDhd8xWRXVM</string>
	<key>GCM_SENDER_ID</key>
	<string>1063068352877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bastisapp.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>argon-liberty-247421</string>
	<key>STORAGE_BUCKET</key>
	<string>argon-liberty-247421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063068352877:ios:2f2649aa23ee2439</string>
	<key>DATABASE_URL</key>
	<string>https://argon-liberty-247421.firebaseio.com</string>
</dict>
</plist>